.footer{
  .logoImage1 {
    display: flex;
    height: 15vh;
  }

  .logoImage2 {
    display: flex;
    height: 15vh;
  }

  .logoImage3 {
    display: flex;
    height: 15vh;
  }

  .logoImage4 {
    display: flex;
    height: 15vh;
  }

  .logoImage5 {
    display: flex;
    height: 15vh;
  }

  .logoImage6 {
    display: flex;
    height: 15vh;
  }
}
  
    
  

